@media screen and (max-width: 1229px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .product-items {
        grid-template-columns: 263px 263px;
        row-gap: 136px;
        justify-content: center;
    }

    .product-action {
        margin-left: 30px
    }

    .advanced-image {
        width: 460px;
    }

    .animation-image-1 {
        left: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .header .container {
        padding: 38px 15px
    }

    .main {
        position: relative;
        padding: 66px 0 436px 0;
        background: #eba8b1;
        overflow: hidden;
    }

    .main-image {
        position: absolute;
        right: 56px;
        bottom: 62px;
        max-width: 529px;
    }

    .advanced {
        padding: 120px 0 120px 0;
    }

    .advanced-block {
        display: flex;
        align-items: center;
        margin-bottom: 88px;
        flex-direction: column;
        text-align: center;
    }

    .advanced-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advanced-text {
        max-width: 672px;
        margin-bottom: 40px;
    }

    .advanced-image {
        width: 302px;
    }

    .advanced-items {
        text-align: center;
        grid-template-rows: 213px 213px;
        grid-template-columns: 220px 220px;

        justify-content: center;
        row-gap: 80px;
        column-gap: 54px;
    }

    .advanced-item {
        justify-items: center;
    }

    .product-items {
        grid-template-columns: 263px 263px;
        row-gap: 136px;
        justify-content: center;
    }

    .order-block .container {
        justify-content: unset;
    }

    .order-block {
        padding: 120px 0 120px 0;
    }

    .order-info {
        row-gap: 41px;
        grid-row: 1/2;
    }

    .form {
        row-gap: 40px;
    }

    .order-image img {
        position: absolute;
        width: 352px;
        right: 15px;
        bottom: -23px;
    }

    .animation-image-1 {
        position: absolute;
        left: unset;
        right: 305px;
        width: 72px;
        top: 163px;
    }

    .animation-image-2 {
        position: absolute;
        top: 15px;
        right: 125px;
    }

}

@media screen and (max-width: 841px) {
    .order-block .container {
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 769px) {
    .header .phone {
        display: none;
    }

    .menu ul {
        margin-right: 160px;
    }

    .order-block .container {
        display: flex;
        justify-content: left;
    }
}

@media screen and (max-width: 740px) {
    .menu ul {
        margin-right: 130px;
    }
}

@media screen and (max-width: 693px) {
    .menu ul {
        margin-right: 80px;
    }

    .main-image {
        max-width: 435px;
    }

    .product-items {
        grid-template-columns: 263px;
    }

    .advanced-items {
        text-align: center;
        grid-template-rows: 323px 295px;
        grid-template-columns: 165px 165px;
        row-gap: 36px;
        column-gap: 15px;
    }

    .advanced-item-title {
        font-size: 18px;
    }

    .advanced-item {
        grid-template-rows: 70px 20px;
    }

    .advanced-items {
        text-align: center;
        grid-template-rows: 323px 295px;
        grid-template-columns: 165px 165px;
        row-gap: 36px;
        column-gap: 15px;
    }

    .order-image {
        display: none;
    }

    .inputs {
        width: 344px;
    }

    .order-action .button {
        width: 344px;
    }

    .order-block .container {
        justify-content: center;
    }

    .order-info {
        position: relative;
    }

    .form {
        align-items: center
    }

    .animation-images {
        position: absolute;
    }

    .animation-image-1 {
        position: absolute;
        left: 165px;
        top: 133px;
    }

    .animation-image-2 {
        display: none;
    }

    .footer .container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .rights {
        position: absolute;
        bottom: -55px;
    }

    .footer .logo {
        text-align: center;
    }

    .footer {
        padding: 100px 0 140px 0;
    }
}

@media screen and (max-width: 641px){
    .menu ul {
        margin-right: 5px;
    }
}

@media screen and (max-width: 589px) {
    .main-title {
        text-align: center;
        font-size: 34px;
    }

    .main-text {
        max-width: none;
        text-align: center;
        margin-bottom: 60px;
    }

    .main-action {
        display: flex;
        justify-content: center;
    }

    .main-image {
        bottom: 40px;
    }

    .header .container {
        justify-content: space-between;
    }

    .burger {
        display: flex;
        order: 2;
    }

    .burger svg {
        cursor: pointer;
        height: 30px;
        width: 40px;
        fill: #821328;
    }

    .menu {
        display: none;
    }

    .menu.open {
        display: flex;
        align-items: center;
    }

    .menu .close {
        display: block;
        width: 24px;
        height: 24px;
        fill: #ffffff;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .menu {
        z-index: 30;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        left: 0;
        top: 0;
        background: #000000c9;
    }

    .close {
        display: block;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .menu ul a {
        color: white;
    }

    .menu ul a:hover {
        border-bottom: 2px solid white;
    }

    .menu-item {
        margin: 15px 0;
    }

    .advanced-title {
        font-size: 40px;
    }

    .advanced-text {
        font-size: 16px;
    }

    .form {
        margin-top: 20px;
    }
}

@media screen and (max-width: 540px) {
    .animation-image-1 {
        top: 118px;
        right: -172px;
        left: unset;
        z-index: 0;
    }

    .order-title {
        font-size: 30px;
    }

    .order-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 424px) {
    .header {
        border-bottom: 0;
    }

    .header .phone {
        display: none;
    }

    .main .container {
        justify-content: center;
    }

    .main {
        padding: 42px 0 280px 0;
    }

    .main-title {
        text-align: center;
        font-size: 32px;
        margin-bottom: 40px;
    }

    .main-info {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .main-text {
        text-align: center;
        width: 348px;
        margin-bottom: 40px;
    }

    .main-action {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .main-image {
        width: 250px;
    }

    .main-image::before,
    .main-image::after {
        right: 20px;
        top: 10px;
    }

    .advanced-title {
        font-size: 30px;
    }

    .advanced-items {
        grid-template-rows: 253px 214px;
    }

    .advanced-item {
        grid-template-rows: 70px 20px 138px
    }

    .advanced-item-description {
        font-size: 13px;
    }

    .products {
        padding: 100px 0 100px 0;
    }

    .products-title {
        font-size: 30px;
        margin-bottom: 122px;
    }

    .product-items {
        grid-template-columns: 263px;
    }

    .order-block .container {
        grid-template-rows: 595px;
    }

    .order-block {
        padding: 100px 0;
    }

    .order-image {
        display: none;
    }

    .order-info {
        grid-template-rows: 30px 72px 410px;
    }

    .order-title {
        font-size: 30px;
    }

    .order-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 374px) {
    .main .container {
        grid-template-columns: 290px;
    }

    .main-title {
        font-size: 28px;
    }

    .main-text {
        width: 310px;
        font-size: 20px;
    }

    .main-image {
        left: 45px;
        bottom: 35px;
    }

    .main {
        padding: 35px 0 280px 0;
    }

    .advanced {
        padding: 100px 0 100px 0;
    }

    .advanced-block {
        margin-bottom: 50px;
    }

    .advanced-image {
        width: 260px;
    }

    .advanced-items {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-rows: 220px 191px;
    }

    .advanced-item {
        grid-template-rows: 70px 20px 68px;
    }

    .products {
        padding: 100px 0 100px 0;
    }

    .product-items {
        row-gap: 100px;
    }

    .order-block {
        padding: 100px 0 100px 0;
    }

    .inputs {
        width: 290px;
    }

    .order-action .button {
        width: 290px;
    }

    .animation-image-1 {
        top: 130px;
        right: -143px;
    }
}